<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        A Dream of the Future
      </h1>
    </header>

    <li>
      <a href="/json?id=2PACX-1vQj6n-EOQGbCibyh9o3_2jnESi2cDw_lCTDjPNfNg680rqXrIsGaKCEKog5FSWYyohGxH7C8hHy3ZgZ">Chinesisches Horoskop</a>
    </li>
    
    <li>
      <a href="/json?format=extended&id=2PACX-1vS5oGCAGjrsK9EBwMPAkMrB7gkbMzofU2pOjpDItEV8G1m8g98-Kai4w375fn9AhpGql8SdmqRYlFnZ">Protocol Zero</a>
    </li>
    
  </body>
</html>
